venv
data/polymarket.db
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*/__pycache__/*
data/downloaders/__pycache__/get_all_events.cpython-312.pyc
backtest/strategies/__pycache__/*
.clinerules
models/time_discounting_model/__pycache__/model.cpython-312.pyc
model_output/*
models/poisson_timing_model/__pycache__/*
models/factored_gamma_model/__pycache__/*
models/bayesian_gamma_model/__pycache__/*
